/*
	Author:			your_name
	Date:			#/#/2105
	Assignment:		Lab 8
	Purpose:		CSS Styling for resume page
*/

body {
	font-family: 'Ubuntu', sans-serif;	
	background-image: url('bg.jpg');      /* 	Enter the name of the background
										image file (from the starter files, here.) 
									*/
	background-size: cover;
}

/* Wrap all content in this div. Allows for a border 
	Make the wrapper's width 900 pixels; 
	make it centered horizontally;
	and give it a one pixel solid black border.
*/
div.wrapper {
	width: 900px;
	margin: 0 auto;
	border: 1px solid black;
}

/* This class defines the styles for the right half
	of the document's header, where your name, address,
	telephone number, and email address appear. 
*/
.rhdr {
	width: 900px; /* should be 900 pixels */
	margin: 50px auto; /* should be 50 pixels top and bottom; auto left and right */
	padding: 10px 10px;/* should be 10 pixels all around */
	height: 350px; /* should be 350 pixels; Causes the text in the header to center vertically */
}

/* 	border = one pixel wide; solid; black in color  
	height = thirty pixels
	margin = fifteen pixels top and bottom, 'auto' left and right
	padding = ten pixels all around
	width = Eight hundred and eighty pixels (why not nine hundred?)
*/
footer {
	border: 1px solid black;
	height: 30px;
	margin: 15px auto;
	padding: 10px 10px;
	width: 880px;
}

.fRight {
	float: right; /* what should go here? */
	padding-left: 15px;
	vertical-align: middle; /* Aligns the element vertically in its container */
	margin-right: 50px;  	/* Just because it makes the image display better */ 
}

.txtCenter {
	text-align: center; /* We want the text to be centered. What do you think goes here? */
	line-height: 240px;  	/* This helps the text block align vertically in its parent element. */
}

/* 	It took me a while to make this work. What it does is take a span element
	and make it display vertically centered within its container. We use it in
	this lab to align the text in the footer in the middle between the top and
	bottom.
*/
span.vcenter {
	display: inline-block; 
	vertical-align: middle; 
	line-height: normal;
}

.name {
	font-size: 150%;	/*   Make the font size one and a half times normal. Hint: use %
					or 'em';
				*/
	font-weight: bold;  /* This is how we bold text without using <strong> or 	<b> */
}

/*  
	This class is for styling institution information on our page. The following rules should apply:
		- font-size should be 1.5 em
		- font-weight should be bold
		- color should be #7D5300
*/
.inst {
	font-size: 1.5em;
	font-weight: bold;
	color: #7D5300;
}

/*  
	This class styles the information block of the resume, where the Education
	and Experience blocks are placed.
*/
.info {
	width: 800px;
	clear: both;
	margin: 10px auto;
	padding: 10px;
}

/*
	This one was tricky. Its purpose is to style the dates entry for
	Education and Experience, which should appear on the same line as 
	the organization name, e.g., "East Tennessee State University," but
	right-justified. Apply the following property/values:
		- font-style, italic
		- font-size, 1.4em
		- float, right
		- display, block
		- color, #7D5300
*/
.dates {
	font-style: italic;
	font-size: 1.4em;
	float: right;
	display: block;
	color: #7D5300;
}

p.clr {
	clear:both;
	padding-left: 50px;
	line-height: 1.3em;
	font-size: 1.3em;
	color: #7D5300;
}


