/* 			Name:			Allison Ivey
			Assignment:		Lab 6
			Date:			10.26.2015
			Purpose:		semester project 
			
			Color Palette: 	
				Background-colors: 	body: #1E3540
									div: #1E3540
									paragraph: #3C6A7F
									hr:	#6CBFE5
				Fonts:				text: #FFE1B4
									hyperlinks: #FFE878
									headings: #FFE1B4
*/

body {
	width: 900px;
	margin: 0 auto;
	background:#000000;
	font-family: 'Poiret One', cursive;
	background-image: url('icon2.png');
	background-attachment: fixed;
	
}

header {
background:#4404E8;
width: 925px;
margin: 0 auto;
padding: 20px;
height:190px;
font-family: 'Monoton', cursive;
background-image:url(rainbowstrings.jpg);
background-repeat: repeat;
background-position: center;
color: #FFFFFF;
font-size: 100px;
}

.content{
color: #FFFFFF;
background: #000000;
width: 104%;
margin: 0 auto;
padding: 10px;
height: auto;
clear:both;
border:3px solid #4404E8;
overflow: auto;
}

footer{
background: #B409FF;
height: 15px;
width: 925px;
margin: 0 auto;
padding: 20px;
}

ul{
list-style-type:none;
margin:0;
padding:0;
}

li{
float:left;
}

li>a:link, li>a:visited{
display:block;
float: left;
width:100px;
margin-right:3px;
line-height:1.8em;
background-color: #000000;
color:#FFFFFF;
border-radius: 10px;
text-align: center;
text-decoration:none;
font-size: 20px;
background: #000000;
/*position:relative;
left: 50px;
top: -15px;*/
}

li>a:hover, li>a:active{
background-color:#FFFF00;
color: #000000;
font-family: 'Poiret One', cursive;
}

borderimg {
    border-image-source: url(icon.jpg);
    border-image-repeat: repeat;
}

.center {
margin: auto;
width: 60%;
border:3px solid #73AD21;
padding: 10px;
}

figure{
float: left;
background: #000000;
padding: 10px;
border: 10px;
}

.feature{
width: 925px;
margin: 100px;
background-image:url(discohat.jpeg);
background-repeat: repeat;
background-position: center;
}

.column1 , .column2 , .column3{
width: 272.5px;
float: left;
padding: 1px;
background: #000000;
height: 457px;
margin: 4px;
padding: 1px 10px;
}

.column1{
background-image:url(tourdates.jpg);
}

.column3{
margin-right:0%;
background: #000000;
}

#feature, .article{
height: 10em;
margin-bottom: 1em;
background-color: #ffffff;
}

